@model QuranX.Website.ViewModels.VerseBrowseViewModel
@{
   ViewBag.Title = "Browse";
}

<h1>The Quran</h1>

@Html.Partial("VersesView", Model.Verses)
@{ 
   Html.RenderAction("VerseNavigator", "VerseBrowse", new
   {
       verseNavigator = Model.VerseNavigator
   });
}
