@using Chapter = QuranX.DomainClasses.Entities.Chapter
@model IEnumerable<Chapter>
@{
    ViewBag.Title = "Quran Chapters";
}

<hgroup>
    <h1>The Quran</h1>
    <h2>Chapters</h2>
</hgroup>

<div class="chapter-list">
    @foreach (Chapter chapter in @Model)
    {
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <span class="chapter-number">@chapter.Number</span>
            <a href="@(chapter.Number).1">@chapter.EnglishName</a>
        </div>
    }
</div>